@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font01: "Passion One", sans-serif;
    --font02: "Sriracha", cursive;
    --cor01: black;
    --cor02: white;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: darkgray;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: var(--cor01);
    color: var(--cor02);
    text-align: center;
    
}

header > h1 {
    font-family: var(--font01);
    font-size: 9vmax;
    padding-top: 50px;
    padding-bottom: 5px;
}

header h1::first-letter  {
    font-size: 1.2em;
}

header > p {
    padding-top: 5px;
    padding-bottom: 50px;
    
}

header a {
    color: var(--cor02);
    font-weight: bold;
    text-decoration: none;
}

main p {
    font-family: var(--font02);
    font-size: 3em;
    font-weight: normal;
    padding: 5px;
    font-size: 3vmax;
}

article {
    background-color: var(--cor02);
    padding: 60px 30px;
}

article.img01 {
    color: var(--cor02);
    background-image: url(/imagens/background001.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

article.img02 {
    color: var(--cor02);
    background-image: url(/imagens/background002.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

div {
    background-color: rgba(0, 0, 0, 0.445);
    max-width: 500px;
}

footer {
    background-color: var(--cor01);
    color: var(--cor02);
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
